.cabecalho {
  background-image: url(../../../assets/fundo-cabecalho.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalho .logo {
  width: 46%;
  padding: 2rem 3rem;
}

.cabecalho .logo img {
  width: 90%;
  max-width: 350px;
  margin-bottom: 2rem;
}

.cabecalho .imagem {
  width: 40%;
}

.cabecalho p {
  font-size: 2rem;
  color: #6bd1ff;
}
.d-flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.buscar-pensamentos {
  background: #f8f9fe;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 44px;
  left: 421px;
  top: 490px;
  width: 510px;
  display: flex;
  align-items: center;
  text-align: center;
  align-self: center;
}

.buscar-pensamentos img {
  padding-right: 15px;
}

input::placeholder {
  color: #c4c4c4;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.filtro {
  width: 100%;
  height: 100%;
  left: 437px;
  top: 537px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  border: none;
  outline: 0;
  text-decoration: none;
  padding-left: 15px;
  border-radius: 10px;
}

@media screen and (min-width: 216px) {
  .buscar-pensamentos {
    width: 250px;
  }
}

@media screen and (min-width: 396px) {
  .buscar-pensamentos {
    width: 380px;
  }
}

@media screen and (min-width: 576px) {
  .buscar-pensamentos {
    width: 510px;
  }
}

@media (max-width: 576px) {
  .cabecalho .logo {
    padding: 2rem;
  }

  .cabecalho p {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .cabecalho .logo {
    width: 90%;
  }

  .cabecalho .imagem {
    display: none;
  }
}
